<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Eucalyptus Cloud Midonet Gateway Service</short>
  <description>Service for Eucalyptus midonet gateway traffic</description>
  <destination ipv4="{{ vpcmido_public_ip_cidr }}"/>
</service>
