<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Eucalyptus Cloud Midonet Gateway Zone</short>
  <description>Zone for Eucalyptus midonet gateway traffic</description>
  <service name="euca-vpcmidogw"/>
</zone>
