# Midonet default configuration, apply with:
#
#  mn-conf set -t default < /etc/midonet/midonet-default.conf
#

zookeeper {
  zookeeper_hosts = "{{ groups.midonet_nsdb | map('extract', hostvars, ['eucalyptus_host_cluster_ipv4']) | map('regex_replace', '^(.*)$', '\\1:2181')  | list | sort | join(',') }}"
}

cassandra {
  replication_factor = {{ midonet_cassandra_replication_factor }}
  servers = "{{ groups.midonet_nsdb | map('extract', hostvars, ['eucalyptus_host_cluster_ipv4']) | list | sort | join(',') }}"
}

cluster {
  rest_api {
    http_host = "127.0.0.1"
    http_port = 8080
    https_port = 0
  }
}

