Mode: {{ net_mode }}

InstanceDnsServers:
{% for ip in (groups['cloud'] | map('extract', hostvars, ['eucalyptus_host_cluster_ipv4'])) %}
- "{{ ip }}"
{% endfor %}

PublicIps:
- "{{ net_public_ip_range }}"

{% if net_mode == 'EDGE' %}
PrivateIps:
- "{{ net_private_ip_range }}"

Subnets:
- Gateway: "{{ edge_gateway }}"
  Netmask: "{{ edge_netmask }}"
  Subnet: "{{ edge_subnet }}"
{% elif net_mode == 'VPCMIDO' %}
Mido:
  Gateways:
  - ExternalCidr: "{{ vpcmido_gw_ext_cidr }}"
    ExternalDevice: "{{ vpcmido_gw_ext_device }}"
    ExternalIp: "{{ vpcmido_gw_ext_ip }}"
    ExternalRouterIp: "{{ vpcmido_gw_ext_router_ip }}"
    Ip: "{{ eucalyptus_host_cluster_ipv4 }}"
{% endif %}

