<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.28.1">
      <projectUrl>https://github.com/sjones4/eucalyptus-extras/</projectUrl>
      <displayName/>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>HOST_COUNT</name>
          <description/>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>HOST_PARAM_CPU</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>4</string>
              <string>8</string>
              <string>16</string>
              <string>32</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>HOST_PARAM_MEM</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>8</string>
              <string>16</string>
              <string>32</string>
              <string>64</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.39">
      <project>eucalyptus-host-config</project>
      <filter>hosts.txt</filter>
      <target>hosts</target>
      <excludes/>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector">
        <stable>true</stable>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>true</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command># ssh key setup
SSH_KEY_DIR=$(mktemp -dt ssh.XXXXXXXX)
SSH_KEY_FILE="${SSH_KEY_DIR}/id_rsa"
SSH_KNOWNHOSTS="${SSH_KEY_DIR}/known_hosts"
function cleanup {
  echo "Performing cleanup"
  [ ! -d "${SSH_KEY_DIR}" ] || rm -rf "${SSH_KEY_DIR}"
}
trap cleanup EXIT
echo "-----BEGIN RSA PRIVATE KEY-----" &gt; "${SSH_KEY_FILE}"
echo ${EUCALYPTUS_GLOBAL_SSH_KEY} | sed "s/ /\n/g" &gt;&gt; "${SSH_KEY_FILE}"
echo "-----END RSA PRIVATE KEY-----" &gt;&gt; "${SSH_KEY_FILE}"
chmod 600 "${SSH_KEY_FILE}"
ssh-keygen -y -f "${SSH_KEY_FILE}" &gt; "${SSH_KEY_DIR}/id_rsa.pub"

if [ "true" = "${EUCALYPTUS_GLOBAL_DOCKER_PULLS:-true}" ] ; then
  echo "Pulling latest calyptos docker image"
  docker pull sjones4/calyptos:4.4
fi

echo "Calculating param string"
HOST_PARAMS="CPU"
while [ ${HOST_PARAM_CPU} -ge 4 ] ; do
  HOST_PARAMS="${HOST_PARAMS}X"
  HOST_PARAM_CPU=$((HOST_PARAM_CPU / 2))
done
HOST_PARAMS="${HOST_PARAMS}:DISKX:MEM"
while [ ${HOST_PARAM_MEM} -ge 8 ] ; do
  HOST_PARAMS="${HOST_PARAMS}X"
  HOST_PARAM_MEM=$((HOST_PARAM_MEM / 2))
done
HOST_PARAMS="${HOST_PARAMS}:USEX"
echo "Host params ${HOST_PARAMS}"

echo "Host status"
docker run --rm \
  -v "${SSH_KEY_DIR}":/root/.ssh \
  -v $(pwd)/hosts:/calyptos/hosts \
  -w /calyptos/hosts \
  sjones4/calyptos:4.4 host-status.sh

echo "Reserving ${HOST_COUNT} host(s)"
docker run --rm \
  -v "${SSH_KEY_DIR}":/root/.ssh \
  -v $(pwd)/hosts:/calyptos/hosts \
  -w /calyptos/hosts \
  sjones4/calyptos:4.4 host-reserve.sh \
  ${BUILD_USER_ID}-${BUILD_ID} ${BUILD_USER_EMAIL} ${HOST_COUNT} ${HOST_PARAMS} \
  &gt; hosts/reserved_hosts.txt &amp;&amp; \
  echo "${BUILD_USER_ID}-${BUILD_ID}" &gt; hosts/reservation_id.txt



if [ $? -ne 0 ] ; then
 [ ! -f hosts/reserved_hosts.txt ] || rm -fv hosts/reserved_hosts.txt
 [ ! -f hosts/reserved_host_names.txt ] || rm -fv hosts/reserved_host_names.txt
 [ ! -f hosts/reserved_public_ip_ranges.txt ] || rm -fv hosts/reserved_public_ip_ranges.txt
 [ ! -f hosts/reserved_private_ip_ranges.txt ] || rm -fv hosts/reserved_private_ip_ranges.txt
 [ ! -f hosts/reservation_id.txt ] || rm -fv hosts/reservation_id.txt
else
 grep -f hosts/reserved_hosts.txt hosts/hosts.txt | cut -d _ -f 2 &gt; hosts/reserved_host_names.txt
 grep -f hosts/reserved_hosts.txt hosts/hosts.txt | cut -d _ -f 3 &gt; hosts/reserved_public_ip_ranges.txt
 grep -f hosts/reserved_hosts.txt hosts/hosts.txt | cut -d _ -f 4 &gt; hosts/reserved_private_ip_ranges.txt
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>hosts/res*.txt</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs class="empty-list"/>
          <projects>eucalyptus-host-status</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>true</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.9"/>
    <EnvInjectPasswordWrapper plugin="envinject@2.1.5">
      <injectGlobalPasswords>true</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries/>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.5"/>
  </buildWrappers>
</project>