---
# Eucalyptus package repositories
eucalyptus_yum_baseurl: http://downloads.eucalyptus.cloud/software/eucalyptus/snapshot/5/rhel/7/x86_64/
euca2ools_yum_baseurl: http://downloads.eucalyptus.cloud/software/euca2ools/3.4/rhel/7/x86_64/

# Cloud settings
cloud_zone_1_name: one
cloud_opts: "{{cloud_opts_tech_preview}} {{cloud_opts_mem}} {{cloud_opts_custom}} {{cloud_opts_bindaddr}}"
cloud_opts_custom: ""
cloud_opts_mem: "-Xmx2g"
cloud_opts_bindaddr: "--bind-addr={{ eucalyptus_host_cluster_ipv4 }}"
cloud_opts_tech_preview: "-Denable.sqs.tech.preview=true"
cloud_log_level: INFO
cloud_instances:
  state_dir: /var/lib/eucalyptus/instances
  conf:
    cpu_passthrough: "1"
    cache_size: "-1"
    work_size: "-1"
    max_cores: "0"
    max_mem: "0"
    custom: ""
cloud_instances_state_dir: "{{ cloud_instances.state_dir }}"
cloud_instances_conf_cpu_passthrough: "{{ cloud_instances.conf.cpu_passthrough }}"
cloud_instances_conf_cache_size: "{{ cloud_instances.conf.cache_size }}"
cloud_instances_conf_work_size: "{{ cloud_instances.conf.work_size }}"
cloud_instances_conf_max_cores: "{{ cloud_instances.conf.max_cores }}"
cloud_instances_conf_max_mem: "{{ cloud_instances.conf.max_mem }}"
cloud_instances_conf_custom: "{{ cloud_instances.conf.custom }}"

# Network settings
net_mode: EDGE
net_mode_lower: "{{ net_mode | lower }}"
net_mode_:
  edge:
    bridge_interface: "{{ edge_bridge_interface | default('br0') }}"
  vpcmido:
    bridge_interface: "{{ vpc_bridge_interface | default('br0') }}"
net_private_interface: "{{ net_public_interface }}"
net_public_interface: en1
net_bridge_interface: "{{ net_mode_[net_mode_lower]['bridge_interface'] }}"
net_node_router_ip: AUTO

# Role settings
key_facts: no
