# Eucalyptus cloud configuration
LOGLEVEL="{{ cloud_log_level }}"
CLOUD_OPTS="{{ cloud_opts }}"
NODES="{% for node in groups.node if (inventory_hostname in groups.zone and eucalyptus_zone_name == hostvars[node]['eucalyptus_zone_name']) %}{{ hostvars[node].eucalyptus_host_cluster_ipv4 }} {% endfor %}"
HYPERVISOR="kvm"
INSTANCE_PATH="{{ cloud_instances_state_dir }}"
LIBVIRT_USE_POLICY_KIT="-1"
USE_CPU_PASSTHROUGH="{{ cloud_instances_conf_cpu_passthrough }}"
NC_CACHE_SIZE="{{cloud_instances_conf_cache_size}}"
NC_WORK_SIZE="{{ cloud_instances_conf_work_size }}"
MAX_CORES="{{ cloud_instances_conf_max_cores }}"
MAX_MEM="{{ cloud_instances_conf_max_mem }}"
USE_VIRTIO_ROOT="1"
USE_VIRTIO_DISK="1"
USE_VIRTIO_NET="1"
VNET_MODE="{{ net_mode }}"
VNET_PRIVINTERFACE="{{ net_private_interface }}"
VNET_PUBINTERFACE="{{ net_public_interface }}"
VNET_BRIDGE="{{ net_bridge_interface }}"
NC_ADDR="{{ net_node_listen_addr }}"
NC_ROUTER="{{ net_node_router_enabled }}"
NC_ROUTER_IP="{{ net_node_router_ip }}"
{{ cloud_instances_conf_custom }}
