# Eucalyptus cloud configuration
LOGLEVEL="{{ cloud_log_level }}"
CLOUD_OPTS="{{ cloud_opts }}"
NODES="{{ groups['node'] | map('extract', hostvars, ['ansible_default_ipv4','address']) | list | join(' ') }}"
HYPERVISOR="kvm"
INSTANCE_PATH="/var/lib/eucalyptus/instances"
USE_CPU_PASSTHROUGH="1"
LIBVIRT_USE_POLICY_KIT="-1"
USE_VIRTIO_ROOT="1"
USE_VIRTIO_DISK="1"
USE_VIRTIO_NET="1"
VNET_MODE="{{ net_mode }}"
VNET_PRIVINTERFACE="{{ net_private_interface }}"
VNET_PUBINTERFACE="{{ net_public_interface }}"
{% if net_bridge_interface %}
VNET_BRIDGE="{{ net_bridge_interface }}"
{% endif %}
NC_ROUTER_IP="{{ net_node_router_ip }}"
