[euca2ools]
name=Euca2ools 3.4 - $basearch
baseurl={{ euca2ools_yum_baseurl }}
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-euca2ools-release-as
       file:///etc/pki/rpm-gpg/RPM-GPG-KEY-euca2ools-release
gpgcheck=1
enabled=1
fastestmirror_enabled=0
