<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_LABEL</name>
          <description>e.g. rc1</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># clean last build work / output
[ ! -d rpmbuild/RPMS ] || rm -rf rpmbuild/RPMS
[ ! -d rpms ]          || rm -rf rpms

EUCALYPTUS_REPO_DIRS=(
  "eucaconsole"
  "eucaconsole-selinux"
  "eucalyptus-cloud-libs"
  "eucalyptus"
  "eucalyptus-selinux"
  "eucalyptus-imaging-worker"
  "load-balancer-servo"
  "eucalyptus-service-image"
  "eucalyptus-sosreport-plugins"
)
for EUCALYPTUS_REPO_DIR in "${EUCALYPTUS_REPO_DIRS[@]}"; do
  [ ! -d "${EUCALYPTUS_REPO_DIR}" ] || rm -rf "${EUCALYPTUS_REPO_DIR}"
done

# create rpmbuild dirs
[ -d rpmbuild/BUILD ]       || mkdir -pv rpmbuild/BUILD
[ -d rpmbuild/BUILDROOT ]   || mkdir -pv rpmbuild/BUILDROOT
[ -d rpmbuild/SPECS ]       || mkdir -pv rpmbuild/SPECS
[ -d rpmbuild/SOURCE ]      || mkdir -pv rpmbuild/SOURCES
[ -d rpmbuild/SRPMS ]       || mkdir -pv rpmbuild/SRPMS
[ -d rpmbuild/RPMS/noarch ] || mkdir -pv rpmbuild/RPMS/noarch
[ -d rpmbuild/RPMS/x86_64 ] || mkdir -pv rpmbuild/RPMS/x86_64

# rpm output setup
mkdir -vm 777 rpms

# clone repositories
git clone --depth 1 --branch devel-4.4 https://github.com/sjones4/eucaconsole.git
git clone --depth 1 --branch master    https://github.com/eucalyptus/eucaconsole-selinux.git
git clone --depth 1 --branch devel-4.4 https://github.com/sjones4/eucalyptus-cloud-libs.git
git clone --depth 1 --branch devel-4.4 https://github.com/sjones4/eucalyptus.git
git clone --depth 1 --branch master    https://github.com/eucalyptus/eucalyptus-selinux.git
git clone --depth 1 --branch maint-0.2 https://github.com/eucalyptus/eucalyptus-imaging-worker.git
git clone --depth 1 --branch maint-1.4 https://github.com/eucalyptus/load-balancer-servo.git
git clone --depth 1 --branch maint-3   https://github.com/sjones4/eucalyptus-service-image.git
git clone --depth 1 --branch maint-0.5 https://github.com/eucalyptus/eucalyptus-sosreport-plugins.git


# build
if [ "true" = "${EUCALYPTUS_GLOBAL_DOCKER_PULLS:-true}" ] ; then
  docker pull sjones4/eucalyptus-builder:4.4
fi

export RPM_DIST="${EUCALYPTUS_GLOBAL_RPM_DIST:-el7}"
if [ ! -z "${BUILD_LABEL}" ] ; then
  export RPM_BUILD_ID="${BUILD_ID}.${BUILD_LABEL}"
else
  export RPM_BUILD_ID="${BUILD_ID}"
fi
EUCALYPTUS_BUILD_SCRIPTS=(
  "build-eucalyptus-console-rpm.sh"
  "build-eucalyptus-console-selinux-rpm.sh"
  "build-eucalyptus-cloud-libs-rpm.sh"
  "build-eucalyptus-rpms.sh"
  "build-eucalyptus-selinux-rpm.sh"
  "build-eucalyptus-sim-imaging-worker-rpm.sh"
  "build-eucalyptus-sim-load-balancer-servo-rpm.sh"
  "build-eucalyptus-service-image-rpm.sh"
  "build-eucalyptus-sosreport-plugins-rpm.sh"
)
for EUCALYPTUS_BUILD_SCRIPT in "${EUCALYPTUS_BUILD_SCRIPTS[@]}" ; do
  docker run \
    ${EUCALYPTUS_GLOBAL_DOCKER_RUN_OPTS} \
    --rm \
    --env RPM_DIST \
    --env RPM_BUILD_ID \
    --env RPM_OUT=/eucalyptus/rpms \
    --env RPMBUILD=/eucalyptus/rpmbuild \
    --device /dev/kvm:/dev/kvm \
    -v /sys/fs/cgroup:/sys/fs/cgroup:ro \
    -v "$(pwd)":/eucalyptus \
    -w /eucalyptus \
    sjones4/eucalyptus-builder:4.4 \
    "${EUCALYPTUS_BUILD_SCRIPT}" build-only
done

# log versions / commits
LOG_FILE="build-audit.log"
[ ! -f "${LOG_FILE}" ] || rm -f "${LOG_FILE}"

docker images sjones4/eucalyptus-builder | tee "${LOG_FILE}"

# log sources
for EUCALYPTUS_REPO_DIR in "${EUCALYPTUS_REPO_DIRS[@]}"; do
  printf '%-22s' "${EUCALYPTUS_REPO_DIR}" | tee "${LOG_FILE}"
  git --git-dir="${EUCALYPTUS_REPO_DIR}/.git" log --max-count=1 --pretty=oneline --no-decorate | tee "${LOG_FILE}"
done

cat "${LOG_FILE}"</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># sign rpms
[ ! -z "${GPG_KEY+x}" ] || exit 1
docker run \
  ${EUCALYPTUS_GLOBAL_DOCKER_RUN_OPTS} \
  --rm \
  --env GPG_KEY \
  -v "$(pwd)":/eucalyptus \
  -w /eucalyptus/rpms \
  sjones4/eucalyptus-builder:4.4 \
  rpm-sign.sh
  </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>rpms/*</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>true</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.9"/>
    <EnvInjectPasswordWrapper plugin="envinject@2.1.5">
      <injectGlobalPasswords>true</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries/>
    </EnvInjectPasswordWrapper>
  </buildWrappers>
</project>