[eucalyptus]
name=Eucalyptus 5 - $basearch
baseurl={{ eucalyptus_yum_baseurl }}
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-eucalyptus-release-as
       file:///etc/pki/rpm-gpg/RPM-GPG-KEY-eucalyptus-release
gpgcheck={{ eucalyptus_yum_gpgcheck }}
enabled=1
fastestmirror_enabled=0
