EUCALYPTUS_PUBLIC_INTERFACE={{ eucalyptus_public_interface }}
EUCALYPTUS_PUBLIC_IP_CIDR={{ eucalyptus_public_ip_cidr | default() }}
EUCALYPTUS_PUBLIC_IP_RANGE={{ eucalyptus_public_ip_range | default() }}
