[ceph]
name=Ceph Repository
baseurl=http://download.ceph.com/rpm-{{ ceph_release }}/el7/x86_64/
enabled=1
fastestmirror_enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-ceph

[ceph-noarch]
name=Ceph No Arch Repository
baseurl=http://download.ceph.com/rpm-{{ ceph_release }}/el7/noarch/
enabled=1
fastestmirror_enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-ceph

[ceph-source]
name=Ceph Source Repository
baseurl=http://download.ceph.com/rpm-{{ ceph_release }}/el7/SRPMS
enabled=1
fastestmirror_enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-ceph
