<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.28.1">
      <projectUrl>https://github.com/sjones4/n4j/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>CLC_IP</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>TEST_SUITE</name>
          <description>&lt;ul&gt;
  &lt;li&gt;AllGood - Nightly tests&lt;/li&gt;
  &lt;li&gt;AllShort - Fast tests, pre-qa&lt;/li&gt;
  &lt;li&gt;Initialization - Configure a cloud for testing, load an image&lt;/li&gt;
&lt;/ul&gt;  </description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>AllGood</string>
              <string>AllShort</string>
              <string>AutoScalingFull</string>
              <string>AutoScalingShort</string>
              <string>CloudFormation</string>
              <string>CloudWatch</string>
              <string>Ec2Full</string>
              <string>Ec2Short</string>
              <string>Ec2Vpc</string>
              <string>ElbFull</string>
              <string>ElbShort</string>
              <string>Iam</string>
              <string>Initialization</string>
              <string>S3Full</string>
              <string>S3Short</string>
              <string>Services</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># setup
[ -d cache ] || mkdir -v cache
[ ! -d results ] || rm -rf results
mkdir -v results
chmod 777 cache results

if [ ! -z &quot;${EUCALYPTUS_GLOBAL_IMAGE_BASE_URL}&quot; ] ; then
  export N4J_OPTS=&quot;${N4J_OPTS} -Dcache=/n4j/cache -Dn4j.image.hvm-url=${EUCALYPTUS_GLOBAL_IMAGE_BASE_URL}/CentOS-7-x86_64-GenericCloud.raw.tar.gz&quot;
fi

# run
if [ &quot;true&quot; = &quot;${EUCALYPTUS_GLOBAL_DOCKER_PULLS:-true}&quot; ] ; then
  docker pull sjones4/n4j:4.4
fi
docker run --rm \
  --env N4J_OPTS \
  -v &quot;${WORKSPACE}/cache&quot;:/n4j/cache \
  -v &quot;${WORKSPACE}/results&quot;:/n4j/results \
  sjones4/n4j:4.4 ./n4j.sh ${CLC_IP} &quot;com/eucalyptus/tests/suites/${TEST_SUITE}Suite&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.23">
      <testResults>results/test-results/test/TEST-*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>false</allowEmptyResults>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.9"/>
  </buildWrappers>
</project>