<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>TEMPLATE_ALIASES</name>
          <description>Define aliases that will be available in all environment templates.</description>
          <defaultValue># common aliases that can be used in templates
alias-eucalyptus: &amp;alias_eucalyptus
    source-branch: ETP_EUCALYPTUS_BRANCH
    source-repo: ETP_EUCALYPTUS_GIT_REPO
    cloud-libs-branch: ETP_EUCALYPTUS_CLOUD_LIBS_BRANCH
    cloud-libs-repo: ETP_EUCALYPTUS_CLOUD_LIBS_GIT_REPO
    selinux-branch: master
    selinux-repo: https://github.com/eucalyptus/eucalyptus-selinux
    eucalyptus-repo: ETP_EUCALYPTUS_YUM_REPO
    euca2ools-repo: ETP_EUCA2OOLS_YUM_REPO
    yum-options: '--nogpg'
    install-type: ETP_INSTALL_TYPE
    dns-domain: ETP_EUCALYPTUS_DNS_DOMAIN
alias-eucalyptus-cloud-properties: &amp;alias_eucalyptus_cloud_properties
    services.imaging.worker.ntp_server: ETP_NTP_SERVER
    services.loadbalancing.worker.ntp_server: ETP_NTP_SERVER
alias-eucalyptus-cc: &amp;alias_eucalyptus_cc
    max-instances-per-cc: ETP_CLUSTER_MAX_INSTANCES
    scheduling-policy: ETP_CLUSTER_SCHEDULING_POLICY
alias-eucalyptus-nc: &amp;alias_eucalyptus_nc
    max-cores: ETP_NODE_MAX_CORES
    cache-size: ETP_NODE_CACHE_SIZE
    work-size: ETP_NODE_WORK_SIZE
alias-eucalyptus-ceph-config: &amp;alias_eucalyptus_ceph_config
    global:
        cluster network: ETP_SUBNET/16
        fsid: FSID_GOES_HERE
        max open files: '131072'
        mon host: MON_HOSTNAMES_GO_HERE
        mon initial members: MON_INITIAL_MEMBER_IPS_GO_HERE
        public network: ETP_SUBNET/16
    mon.FIRST_MON_HOSTNAME_GOES_HERE:
        host: FIRST_MON_HOSTNAME_GOES_HERE
        mon addr: FIRST_MON_IP_GOES_HERE:6789</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo "${TEMPLATE_ALIASES}" &gt; template_aliases.yaml</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>template_aliases.yaml</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.9"/>
  </buildWrappers>
</project>