<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs/>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.28.1">
      <projectUrl>https://github.com/eucalyptus/calyptos/</projectUrl>
      <displayName/>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>ENV_TEMPLATE</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>cloud-in-a-box-das</string>
              <string>cloud-in-a-box</string>
              <string>cloud-in-a-box-with-console</string>
              <string>edge-ceph</string>
              <string>edge</string>
              <string>edge-multicluster-multinode</string>
              <string>edge-multinode</string>
              <string>CUSTOM_ENV_TEMPLATE</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>CUSTOM_ENV_TEMPLATE</name>
          <description>View existing templates at &lt;a href="https://github.com/sjones4/eucalyptus-extras/tree/master/deploy/templates"&gt;sjones4/eucalyptus-extras on github&lt;/a&gt;</description>
          <defaultValue/>
        </hudson.model.TextParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>INSTALL_TYPE</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>packages</string>
              <string>sources</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLOUD_OPTS</name>
          <description>e.g. --debug -Xmx2g Use EUCALYPTUS_GLOBAL_CLOUD_OPTS for global options</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EUCALYPTUS_GIT_REPO</name>
          <description/>
          <defaultValue>https://github.com/sjones4/eucalyptus.git</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EUCALYPTUS_GIT_BRANCH</name>
          <description/>
          <defaultValue>devel-4.4</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLOUD_LIBS_GIT_REPO</name>
          <description/>
          <defaultValue>https://github.com/sjones4/eucalyptus-cloud-libs.git</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLOUD_LIBS_GIT_BRANCH</name>
          <description/>
          <defaultValue>devel-4.4</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>EUCALYPTUS_YUM_REPO_VERSION</name>
          <description>Specify the default yum repository by version. Will use EUCALYPTUS_GLOBAL_EUCALYPTUS_YUM_REPO for 4.4.2 EUCALYPTUS_GLOBAL_EUCALYPTUS_YUM_REPO_DEV for 4.4.x</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>4.4.x</string>
              <string>4.4.2</string>
              <string>EUCALYPTUS_YUM_REPO</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EUCALYPTUS_YUM_REPO</name>
          <description>Defaults to global setting for version if any, else
http://downloads.eucalyptus.com/software/eucalyptus/4.4/rhel/7/x86_64/</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EUCA2OOLS_YUM_REPO</name>
          <description>Defaults to EUCALYPTUS_GLOBAL_EUCA2OOLS_YUM_REPO if set, else
http://downloads.eucalyptus.com/software/euca2ools/3.4/rhel/7/x86_64/</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EUCALYPTUS_DNS_DOMAIN</name>
          <description>Defaults to EUCALYPTUS_GLOBAL_EUCALYPTUS_DNS_DOMAIN if set, else ETP_HOST0_IP.nip.io</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NET_PUBLIC_IP_RANGE</name>
          <description>Defaults to public ip ranges for reserved hosts</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NET_PRIVATE_IP_RANGE</name>
          <description>Defaults to private ip ranges for reserved hosts</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NET_SUBNET</name>
          <description>Defaults to EUCALYPTUS_GLOBAL_NET_SUBNET </description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NET_NETMASK</name>
          <description>Defaults to EUCALYPTUS_GLOBAL_NET_NETMASK </description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NET_GATEWAY</name>
          <description>Defaults to EUCALYPTUS_GLOBAL_NET_GATEWAY</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DNS_SERVER</name>
          <description>Defaults to EUCALYPTUS_GLOBAL_DNS_SERVER</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NTP_SERVER</name>
          <description>Defaults to EUCALYPTUS_GLOBAL_NTP_SERVER</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NODE_MAX_CORES</name>
          <description>Defaults to EUCALYPTUS_GLOBAL_NODE_MAX_CORES if set, else 0 for available cores on each node</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLUSTER_MAX_INSTANCES</name>
          <description>Defaults to EUCALYPTUS_GLOBAL_CLUSTER_MAX_INSTANCES if set, else 128</description>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>CLUSTER_SCHEDULING_POLICY</name>
          <description>Defaults to EUCALYPTUS_GLOBAL_CLUSTER_SCHEDULING_POLICY if set, else ROUNDROBIN</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string/>
              <string>GREEDY</string>
              <string>ROUNDROBIN</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>HOST_PARAM_CPU</name>
          <description>Minimum core requirement for candidate hosts</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>4</string>
              <string>8</string>
              <string>16</string>
              <string>32</string>
              <string>64</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>HOST_PARAM_MEM</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>8</string>
              <string>16</string>
              <string>32</string>
              <string>64</string>
              <string>128</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RELEASE_RESERVATION</name>
          <description>Release host reservation on successful build/test</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>QA_TESTS</name>
          <description>Run N4J short test suite post deploy</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.39">
      <project>eucalyptus-44-qa-deploy-template-aliases</project>
      <filter/>
      <target/>
      <excludes/>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector">
        <stable>true</stable>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>true</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>if [ "true" = "${EUCALYPTUS_GLOBAL_DOCKER_PULLS:-true}" ] ; then
  echo "Pulling latest calyptos docker image"
  docker pull sjones4/calyptos:4.4
fi

echo "Extracting resource requirements from environment template"
[ ! -d env ] || rm -rf env
mkdir -v env
mv -v template_aliases.yaml env/

TEMPLATE_PATH="/calyptos/templates/${ENV_TEMPLATE}-environment.yaml"
if [ "${ENV_TEMPLATE}" = "CUSTOM_ENV_TEMPLATE" ] ; then
  TEMPLATE_PATH="/env/template-environment.yaml"
  echo "${CUSTOM_ENV_TEMPLATE}" &gt; "env/template-environment.yaml"
fi

ENV_HOST_COUNT=$(docker run \
  ${EUCALYPTUS_GLOBAL_DOCKER_RUN_OPTS} \
  --rm \
  -v $(pwd)/env:/env \
  sjones4/calyptos:4.4 \
  template-info.sh "${TEMPLATE_PATH}" "host-count")

echo "HOST_COUNT=${ENV_HOST_COUNT}" &gt; env/reservation.properties
echo "HOST_PARAM_CPU=${HOST_PARAM_CPU}" &gt;&gt; env/reservation.properties
echo "HOST_PARAM_MEM=${HOST_PARAM_MEM}" &gt;&gt; env/reservation.properties
echo "Reserving hosts using properties"
cat env/reservation.properties
</command>
    </hudson.tasks.Shell>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>env/reservation.properties</propertiesFile>
              <failTriggerOnMissing>true</failTriggerOnMissing>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
              <useMatrixChild>false</useMatrixChild>
              <onlyExactRuns>false</onlyExactRuns>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>eucalyptus-host-reserve</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.39">
      <project>eucalyptus-host-reserve</project>
      <filter>hosts/res*.txt</filter>
      <target>env/</target>
      <excludes/>
      <selector class="hudson.plugins.copyartifact.SpecificBuildSelector">
        <buildNumber>$TRIGGERED_BUILD_NUMBER_eucalyptus_host_reserve</buildNumber>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>true</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command># ssh key setup
SSH_KEY_DIR=$(mktemp -dt ssh.XXXXXXXX)
SSH_KEY_FILE="${SSH_KEY_DIR}/id_rsa"
SSH_KNOWNHOSTS="${SSH_KEY_DIR}/known_hosts"
function cleanup {
  echo "Performing cleanup"
  [ ! -d "${SSH_KEY_DIR}" ] || rm -rf "${SSH_KEY_DIR}"
}
trap cleanup EXIT
echo "-----BEGIN RSA PRIVATE KEY-----" &gt; "${SSH_KEY_FILE}"
echo ${EUCALYPTUS_GLOBAL_SSH_KEY} | sed "s/ /\n/g" &gt;&gt; "${SSH_KEY_FILE}"
echo "-----END RSA PRIVATE KEY-----" &gt;&gt; "${SSH_KEY_FILE}"
chmod 600 "${SSH_KEY_FILE}"
ssh-keygen -y -f "${SSH_KEY_FILE}" &gt; "${SSH_KEY_DIR}/id_rsa.pub"

echo "Stashing host reservations"
[ ! -d reservations ] || rm -rf reservations
for HOST in $(&lt;env/reserved_hosts.txt); do
  mkdir -vp reservations/${HOST}
  scp -Bpri "${SSH_KEY_FILE}" -o BatchMode=yes -o UserKnownHostsFile="${SSH_KNOWNHOSTS}" -o StrictHostKeyChecking=no root@${HOST}:.reservation reservations/${HOST}
done
find reservations -type f

# pick eucalyptus yum repository for specified version or custom
if [ "${EUCALYPTUS_YUM_REPO_VERSION}" == "4.4.x" ] ; then
  ETP_EUCALYPTUS_YUM_REPO="${EUCALYPTUS_GLOBAL_EUCALYPTUS_YUM_REPO_DEV:-${EUCALYPTUS_GLOBAL_EUCALYPTUS_YUM_REPO}}"
elif [ "${EUCALYPTUS_YUM_REPO_VERSION}" == "4.4.2" ] ; then
  ETP_EUCALYPTUS_YUM_REPO="${EUCALYPTUS_GLOBAL_EUCALYPTUS_YUM_REPO}"
else
  ETP_EUCALYPTUS_YUM_REPO="${EUCALYPTUS_YUM_REPO:-${EUCALYPTUS_GLOBAL_EUCALYPTUS_YUM_REPO_DEV:-${EUCALYPTUS_GLOBAL_EUCALYPTUS_YUM_REPO}}}"
fi

ENV_TEMPLATE_VARS_FILE="env/template_variables.txt"
echo "Building environment template variables file ${ENV_TEMPLATE_VARS_FILE}"
echo "# Environment template variables for ${BUILD_ID}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_CEPH_POOL_SNAPSHOTS=${EUCALYPTUS_GLOBAL_CEPH_POOL_SNAPSHOTS:-eucasnapshots}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_CEPH_POOL_VOLUMES=${EUCALYPTUS_GLOBAL_CEPH_POOL_VOLUMES:-eucavolumes}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_CEPH_RBD_KEY=${EUCALYPTUS_GLOBAL_CEPH_RBD_KEY}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_CEPH_S3_ACCESS_KEY=${EUCALYPTUS_GLOBAL_CEPH_S3_ACCESS_KEY}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_CEPH_S3_ENDPOINT=${EUCALYPTUS_GLOBAL_CEPH_S3_ENDPOINT:-127.0.0.1:7480}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_CEPH_S3_SECRET_KEY=${EUCALYPTUS_GLOBAL_CEPH_S3_SECRET_KEY}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_CLUSTER_MAX_INSTANCES=${CLUSTER_MAX_INSTANCES:-${EUCALYPTUS_GLOBAL_CLUSTER_MAX_INSTANCES:-128}}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_CLUSTER_SCHEDULING_POLICY=${CLUSTER_SCHEDULING_POLICY:-${EUCALYPTUS_GLOBAL_CLUSTER_SCHEDULING_POLICY:-ROUNDROBIN}}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_DAS_DEVICE=${EUCALYPTUS_GLOBAL_DAS_DEVICE:-storage_vg}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_DNS_SERVER=${DNS_SERVER:-${EUCALYPTUS_GLOBAL_DNS_SERVER}}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_EUCA2OOLS_YUM_REPO=${EUCA2OOLS_YUM_REPO:-${EUCALYPTUS_GLOBAL_EUCA2OOLS_YUM_REPO}}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_EUCALYPTUS_BRANCH=${EUCALYPTUS_GIT_BRANCH}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_EUCALYPTUS_CLOUD_LIBS_BRANCH=${CLOUD_LIBS_GIT_BRANCH}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_EUCALYPTUS_CLOUD_LIBS_GIT_REPO=${CLOUD_LIBS_GIT_REPO}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_EUCALYPTUS_CLOUD_OPTS=${EUCALYPTUS_GLOBAL_CLOUD_OPTS} ${CLOUD_OPTS}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_EUCALYPTUS_DNS_DOMAIN=${EUCALYPTUS_DNS_DOMAIN:-${EUCALYPTUS_GLOBAL_EUCALYPTUS_DNS_DOMAIN:-ETP_HOST0_IP.nip.io}}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_EUCALYPTUS_GIT_REPO=${EUCALYPTUS_GIT_REPO}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_EUCALYPTUS_YUM_REPO=${ETP_EUCALYPTUS_YUM_REPO}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_GATEWAY=${NET_GATEWAY:-${EUCALYPTUS_GLOBAL_NET_GATEWAY}}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_INSTALL_TYPE=${INSTALL_TYPE}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_NETMASK=${NET_NETMASK:-${EUCALYPTUS_GLOBAL_NET_NETMASK}}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_NODE_CACHE_SIZE=${EUCALYPTUS_GLOBAL_NODE_CACHE_SIZE:--1}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_NODE_MAX_CORES=${NODE_MAX_CORES:-${EUCALYPTUS_GLOBAL_NODE_MAX_CORES:-0}}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_NODE_NIC=${EUCALYPTUS_GLOBAL_NODE_NIC:-eno1}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_NODE_WORK_SIZE=${EUCALYPTUS_GLOBAL_NODE_WORK_SIZE:--1}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_NTP_SERVER=${NTP_SERVER:-${EUCALYPTUS_GLOBAL_NTP_SERVER}}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_PRIVATE_IP_RANGE=${NET_PRIVATE_IP_RANGE}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_PUBLIC_IP_RANGE=${NET_PUBLIC_IP_RANGE}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
echo "ETP_SUBNET=${NET_SUBNET:-${EUCALYPTUS_GLOBAL_NET_SUBNET}}" &gt;&gt; "${ENV_TEMPLATE_VARS_FILE}"
cat --number "${ENV_TEMPLATE_VARS_FILE}"

echo "Generating environment"
TEMPLATE_PATH="/calyptos/templates/${ENV_TEMPLATE}-environment.yaml"
if [ "${ENV_TEMPLATE}" = "CUSTOM_ENV_TEMPLATE" ] ; then
  TEMPLATE_PATH="/env/template-environment.yaml"
fi
TEMPLATE_ALIAS_PATH="/env/template_aliases.yaml"
docker run \
  ${EUCALYPTUS_GLOBAL_DOCKER_RUN_OPTS} \
  --rm \
  --env-file "${ENV_TEMPLATE_VARS_FILE}" \
  -v "${SSH_KEY_DIR}":/root/.ssh \
  -v $(pwd)/env:/env \
  sjones4/calyptos:4.4 \
  template-env.sh \
  "${TEMPLATE_PATH}" \
  "${TEMPLATE_ALIAS_PATH}" \
  "/env/reserved_hosts.txt" \
  "/env/reserved_host_names.txt" \
  "/env/reserved_public_ip_ranges.txt" \
  "/env/reserved_private_ip_ranges.txt" \
  &gt; env/environment.yaml

echo "Using environment"
cat --number env/environment.yaml

for HOST in $(&lt;env/reserved_hosts.txt); do
  echo "Koaning CentOS 7 on ${HOST}"
  ssh -i "${SSH_KEY_FILE}" -o BatchMode=yes -o UserKnownHostsFile="${SSH_KNOWNHOSTS}" -o StrictHostKeyChecking=no root@${HOST} "yum -y install epel-release; yum -y install koan &amp;&amp; koan --server=${EUCALYPTUS_GLOBAL_COBBLER_SERVER} --system=\$(hostname  | cut -d '.' -f 1) --replace-self &amp;&amp; { nohup shutdown -r +1 &amp; }"
done

echo "Sleeping 120 to allow CentOS 7 install to start"
sleep 120

echo "Waiting for hosts to become available"
docker run \
  ${EUCALYPTUS_GLOBAL_DOCKER_RUN_OPTS} \
  --rm \
  -v "${SSH_KEY_DIR}":/root/.ssh \
  -v $(pwd)/env:/env \
  sjones4/calyptos:4.4 host-wait.sh $(&lt;env/reserved_hosts.txt)

for HOST in $(&lt;env/reserved_hosts.txt); do
  echo "Restoring host reservation ${HOST}"
  scp -Bpri "${SSH_KEY_FILE}" -o BatchMode=yes -o UserKnownHostsFile="${SSH_KNOWNHOSTS}" -o StrictHostKeyChecking=no reservations/${HOST}/.reservation root@${HOST}:
done

echo "Sleeping 60 to allow CentOS 7 install to complete"
sleep 60

echo "Running calyptos"
docker run \
  ${EUCALYPTUS_GLOBAL_DOCKER_RUN_OPTS} \
  --rm \
  -v "${SSH_KEY_DIR}":/root/.ssh \
  -v $(pwd)/env:/env \
  sjones4/calyptos:4.4 calyptos -e /env/environment.yaml

for HOST in $(&lt;env/reserved_hosts.txt); do
  echo "Rebooting ${HOST}"
  ssh -i "${SSH_KEY_FILE}" -o BatchMode=yes -o UserKnownHostsFile="${SSH_KNOWNHOSTS}" -o StrictHostKeyChecking=no root@${HOST} reboot || true
done

echo "Build steps completed, run n4j tests: ${QA_TESTS}, release reservation: ${RELEASE_RESERVATION}"

[ ! -d tasks ] || rm -rf tasks
if [ "${RELEASE_RESERVATION}" = "true" ] || [ "${QA_TESTS}" = "true" ]; then
  mkdir -v tasks

  if [ "${QA_TESTS}" = "true" ] ; then
    echo "Sleeping 90 seconds to allow reboot to progress before testing"
    sleep 90

    for HOST in $(&lt;env/reserved_hosts.txt); do
      echo "CLC_IP=${HOST}" &gt; tasks/qa.properties
      echo "Running QA tests using properties"
      cat tasks/qa.properties
      break
    done
  fi

  if [ "${RELEASE_RESERVATION}" = "true" ] ; then
    echo "RESERVATION_ID=$(&lt;env/reservation_id.txt)" &gt; tasks/host_release.properties
    echo "Releasing hosts using properties"
    cat tasks/host_release.properties
  fi
fi</command>
    </hudson.tasks.Shell>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>tasks/qa.properties</propertiesFile>
              <failTriggerOnMissing>true</failTriggerOnMissing>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
              <useMatrixChild>false</useMatrixChild>
              <onlyExactRuns>false</onlyExactRuns>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>eucalyptus-44-qa-fast</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
  </builders>
  <publishers>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>tasks/host_release.properties</propertiesFile>
              <failTriggerOnMissing>true</failTriggerOnMissing>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
              <useMatrixChild>false</useMatrixChild>
              <onlyExactRuns>false</onlyExactRuns>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>eucalyptus-host-release</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>env/*</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.9"/>
    <EnvInjectPasswordWrapper plugin="envinject@2.1.5">
      <injectGlobalPasswords>true</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries/>
    </EnvInjectPasswordWrapper>
  </buildWrappers>
</project>